*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#9cb848;
}
.content{
    display: flex;
}
.colors button{
    height: 20px;
    width: 20px;
    border: none;
}
#yellow{
    background-color: rgb(243, 243, 81);
}
#green{
    background-color: rgb(43, 132, 43);
}
#blue{
    background-color: rgb(68, 68, 210);
}
#red{
    background-color: rgb(207, 59, 59);
}
#orange{
    background-color: rgb(232, 181, 87);
}
#black{
    background-color: rgb(37, 37, 37);
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    height: 512px;
    width: 512px;
    border: 20px solid #114232;
    border-radius: 12px;
}
.grid{
    background-color: #F7F6BB;
    height: 32px;
    width: 32px;
    
}
.grid:hover{
    background-color: rgb(220, 220, 220);
}
