*{
    margin: 0;
    padding: 0;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
      
}
body{
    background-color:#9cb848;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;

}
.header{
    padding-top: 28px;
    font-size: 35px;
    padding-left: 30px;
    color: #114232;
    
}

.content{
    display: flex;
    gap: 25px;
    
}

.buttons button,
.tools button{
    height: 35px;
    width: 35px;
    background-color:#F7F6BB;
    color:#114232;
    border:none;
}
.colors button{
    height: 30px;
    width: 30px;
    border: none;
}
.colors button:hover{
    border: 3px dashed #114232;
    box-shadow: 0 29px 52px rgba(0,0,0,0.40), 0 25px 16px rgba(0,0,0,0.20);
}
.buttons button:hover{
    border: 3px dashed #114232;
    box-shadow: 0 29px 52px rgba(0,0,0,0.40), 0 25px 16px rgba(0,0,0,0.20);
}
.tools button:hover{
    border: 3px dashed #114232;
    box-shadow: 0 29px 52px rgba(0,0,0,0.40), 0 25px 16px rgba(0,0,0,0.20);
}
#yellow{
    background-color: rgb(243, 243, 81);
}
#green{
    background-color: rgb(43, 132, 43);
}
#blue{
    background-color: rgb(68, 68, 210);
}
#red{
    background-color: rgb(207, 59, 59);
}
#orange{
    background-color: rgb(232, 181, 87);
}
#black{
    background-color: rgb(37, 37, 37);
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    height: 512px;
    width: 512px;
    border: 14px solid #114232;
    border-radius: 8px;
    box-shadow: 0 29px 52px rgba(0,0,0,0.40), 0 25px 16px rgba(0,0,0,0.20);
}
.grid{
    background-color: #F7F6BB;
    height: 32px;
    width: 32px;
    
}
.grid:hover{
    background-color: rgb(220, 220, 220);
}
